<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/map.css">
    <script src="../../js/map.js"></script>
  </head>
  <body>
    <!-- map 삽입 -->
    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAklIBFObvvk5RMIRvuG3-tiWTCAwJskxo&callback=initMap&libraries=&v=weekly"
      async></script>
  </body>
</html>