* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;;
  }
  
  a {
    text-decoration: none;
    color: black;
  }


  /* 전체 화면 */
  .wrap {
    width: 100%;
    height: 100vh;
   }

  /* 피드 검색창과 피드, 인기, 최신 내비게이션 */
  .feed_up{
    position:fixed; 
    padding-bottom: 5px;
    width:100%; 
    top: 20px;
    padding: 5px;
  }

  /* 피드 검색창 */
  .search{
    width: 95%;
    height: 40px;
    border-radius: 15px;
    margin: 10px 10px 0px 5px;
    padding-left:7%;
    border: 1px solid lightgray;
    background-color: rgb(243, 237, 237);
    outline: none;
    color: gray;
    background-image : url("../images/돋보기.png"); 
    background-position: 2% 50%;
    background-repeat:no-repeat;
    
  }

  /* 피드, 인기, 최신 이동 버튼 */
  .btn_group button{
    background-color:white;
    border : 0;
    margin : 15px 15px 10px 10px;
  } 

  /* 피드 추가 버튼 */
  .feed_btn{
    position:fixed; 
    top:80%; 
    right:8%; 
    z-index: 9999;
    height: 20px;
    width:auto;
  }



  /* 전체 피드 박스 */
  .feed_area{
    position: fixed;
    overflow:auto; 
    width:100%; 
    height:80%;
    top: 130px;
  }
   
  /* 피드 한줄(피드 3개가 한줄)*/
   .img_sort{
    display:flex;
    flex-direction: row;
    align-items: center;
    width : 100%;
    height : auto;
    position: relative;
    margin-bottom:-3px;
   }

   /*  각 피드 링크 박스 */
   .img_link{
    width:33%; 
    height:auto;
    padding-right: 1px;
   }


  /* 각 피드 */
  .photo{
    width:100%; 
    height:auto;
  } 

  