* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;;
  }
  
  a {
    text-decoration: none;
    color: black;
  }


  /* 전체 화면 */
  .wrap {
    width: 100%;
    height: 100vh;
   }

  /* 피드 검색창과 피드, 인기, 최신 내비게이션 */
  .share_box{
    position:fixed; 
    padding-bottom: 5px;
    width:100%; 
    height: 100px;
    padding: 5px;
    vertical-align:middle;
    border-bottom: 1px solid darkgray;
  }

  /* 공유 버튼 */
  #btn_share {
    background-color:transparent;
    border : 0;
    position:absolute;
    top : 43px;
    right: 30px;
  }

  /* 공유할 피드 전체 박스 */
  .feed_area{
    position: fixed;
    width:99%; 
    height:80%;
    top: 100px;
    display: flex;
    flex-direction: column;
    
  }

  /* 공유할 이미지를 넣을 박스 */
  .feed_images{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    overflow: auto;
    height: 150px;
  }

  .feed_images::-webkit-scrollbar {
    display: none; 
}

  /* 공유할 이미지들 */
  .photo{
    width: 100px;
    height: 100px;
    margin : 0px 5px 0px 5px;
  }

  /* 산, 스탬프 인증 등 위치정보 인증 */
  .auth{
    margin : 0px 10px 0px 10px;
    vertical-align: middle;
    display: flex; 
    flex-direction: row;
    padding : 10px 5px 10px 5px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }

  .auth p{
    margin : 0px 10px 0px 10px;
    padding : 5px 10px 5px 10px;
    background-color: rgb(1,199,60);
    border-radius: 20px;
    color: white;
    vertical-align: middle; 
    
  }

  /* 사진 추가 버튼 */
  .photo_plus{
    width: 100px;
    height: 100px;
    margin : 0px 10px 0px 10px;
    background-color: rgb(240, 233, 233);
    border : 0;
    outline: none;
    padding-left : 100px;
  }

  /* 내용 입력 박스 */
  .feed_content{
    height: 100%;
}

  /* 실제 내용을 입력하는 textarea */
  .feed_text{
      width : 100%;
      height: 100%;
      border : 0;
      outline: none;
      padding : 10px 20px 10px 20px;
  }

