<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="../../styles/feed_2.css" >
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
    <div class="wrap">
        <div class="feed_up" >
            <div class="search_box" >
                <input type="search" class="search" placeholder="검색" >
            </div>

            <nav class="btn_group">
                <button  id="btn_feed"type="button" style="color:rgb(1,199,60)"><h3>피드</h3></button>
                <button  id="btn_popular"type="button"><h3>인기</h3></button>
                <button  id="btn_new"type="button" ><h3>최신</h3></button>
            </nav>
        </div>


        <!-- <div class="feed_btn">
            <a href="" target="_blank" ><img src="../feed/images/추가버튼.png"></a>
        </div> -->

      

        <div class="feed_area">
            <div class="feed">
                <div class="feed_img">
                    <div class="feed_img_box"><img src="../../images/bene.jpg" type="image" class="photo" /></div>
                    
                    <div class="profile_box">
                        <div class="image_box" ><img class=profile src="../../images/PARK.jpg" /></div>
                        <div class="profile_info">
                            <p style="color:white; margin-left:2px; font-size: 12px;">박보영</p>
                            <p style="color:white; margin-left:2px; font-size: 7px;">등산의 신</p>
                        </div>    
                    </div>
                </div>
                <div class="feed_content" >
                    <div class="content_btn" >
                        <button ><img class="btn_img" src="../../images/하트.png" /></button>
                        <button ><img class="btn_img" src="../../images/댓글.png" /></button>
                        <div class="time">3시간 전</div>
                    </div>
                    <div class="content_info">
                        <strong>좋아요 56</strong>
                        <p>할리스 커피 고객 건강 지킴이 수칙 - 매장 이용시 음식 마스크 의무 착용하기</p>
                        <input class="comment" placeholder="댓글 달기" >
                    </div>
                </div>
            </div>

            <div class="feed">
                <div class="feed_img">
                    <div class="feed_img_box"><img src="../../images/bene.jpg" type="image" class="photo" /></div>
                    
                    <div class="profile_box">
                        <div class="image_box" ><img class=profile src="../../images/PARK.jpg" /></div>
                        <div class="profile_info">
                            <p style="color:white; margin-left:2px; font-size: 12px;">박보영</p>
                            <p style="color:white; margin-left:2px; font-size: 7px;">등산의 신</p>
                        </div>    
                    </div>
                </div>
                <div class="feed_content" >
                    <div class="content_btn" >
                        <button ><img class="btn_img" src="../../images/하트.png" /></button>
                        <button ><img class="btn_img" src="../../images/댓글.png" /></button>
                        <div class="time">3시간 전</div>
                    </div>
                    <div class="content_info">
                        <strong>좋아요 56</strong>
                        <p>할리스 커피 고객 건강 지킴이 수칙 - 매장 이용시 음식 마스크 의무 착용하기</p>
                        <input class="comment" placeholder="댓글 달기" >
                    </div>
                </div>
            </div>

            <div class="feed">
                <div class="feed_img">
                    <div class="feed_img_box"><img src="../../images/bene.jpg" type="image" class="photo" /></div>
                    
                    <div class="profile_box">
                        <div class="image_box" ><img class=profile src="../../images/PARK.jpg" /></div>
                        <div class="profile_info">
                            <p style="color:white; margin-left:2px; font-size: 12px;">박보영</p>
                            <p style="color:white; margin-left:2px; font-size: 7px;">등산의 신</p>
                        </div>    
                    </div>
                </div>
                <div class="feed_content" >
                    <div class="content_btn" >
                        <button ><img class="btn_img" src="../../images/하트.png" /></button>
                        <button ><img class="btn_img" src="../../images/댓글.png" /></button>
                        <div class="time">3시간 전</div>
                    </div>
                    <div class="content_info">
                        <strong>좋아요 56</strong>
                        <p>할리스 커피 고객 건강 지킴이 수칙 - 매장 이용시 음식 마스크 의무 착용하기</p>
                        <input class="comment" placeholder="댓글 달기" >
                    </div>
                </div>
            </div>

            

            

        </div>
    </div>
</div>

    
</body>
</html>