<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="styles/sns_new.css">
    <link rel="stylesheet" href="../home/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>sns최신</title>
</head>

<body>

    <div class="wrap">
        <div class="topmenu-container">
            <a href="#a"><img src="../home/images/new목록.png" class="menu" alt="menu"></a>
            <a href="#a"><img src="../home/images/메아리.png" class="meari-logo" alt="meari-logo"></a>
            <a href="#a"><img src="../home/images/DM.png" class="dm" alt="dm"></a>
            <a href="#a"><img src="../home/images/종.png" class="notice" alt="notice"></a>
        </div>
        <div class="feed_up">
            <div class="search_box">
                <input type="search" class="search" placeholder="검색">
            </div>
            <nav class="btn_group">
                <button id="btn_feed">
                    <h3>피드</h3>
                </button>
                <button id="btn_popular">
                    <h3>인기</h3>
                </button>
                <button id="btn_new" style="color:rgb(1,199,60)">
                    <h3>최신</h3>
                </button>
            </nav>
        </div>


        <!-- 버튼 크기 조절하기 -->
        
            <a class="feed_btn" href="" target="_blank"><img src="images/추가버튼.png"></a>
        

        <div class="feed_area">
            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>

            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>

            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>

            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>

            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>
            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>
            <div class="img_sort">
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="images/bene.jpg" class="photo" /></a>
            </div>
        </div>
        <div class="bottommenu-container">
            <a href="/#a/"><img src="../home/images/1.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/2.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/3.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/4.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/5.png" class="icon" alt="icon"></a>
        </div>
    </div>

</body>

</html>