<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="../../styles/sns_share.css" >
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
    <div class="wrap">
        <div class="share_box" style="text-align: center;line-height: 100px;" >
            <h3 style="vertical-align: middle;" >새 게시글</h3>
            <button  id="btn_share" style="color:rgb(1,199,60)" ><h3>공유</h3></button>
            
        </div>
        
        
        <div class="feed_area">
            <div class="feed_images">
                <img class="photo" src="../../images/bene.jpg" />
                <img class="photo" src="../../images/bene.jpg" />
                <img class="photo" src="../../images/bene.jpg" />    
                <button class="photo_plus"></button>

            </div>

            <div class="auth" >
                <p>한라산</p>
                <p>GPS 스탬프 인증</p>
            </div>

            <div class="feed_content">
                <textarea class="feed_text"  placeholder="내용을 입력하세요"></textarea> 
            </div>


        </div>
    </div>
</div>

    
</body>
</html>