<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="styles/sns_feed.css">
    <link rel="stylesheet" href="../home/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>sns피드</title>
</head>

<body>

    <div class="wrap">
        <div class="topmenu-container">
            <a href="#a"><img src="../home/images/new목록.png" class="menu" alt="menu"></a>
            <a href="#a"><img src="../home/images/메아리.png" class="meari-logo" alt="meari-logo"></a>
            <a href="#a"><img src="../home/images/DM.png" class="dm" alt="dm"></a>
            <a href="#a"><img src="../home/images/종.png" class="notice" alt="notice"></a>
        </div>
        <div class="feed_up">
            <div class="search_box">
                <input type="search" class="search" placeholder="검색">
            </div>
            <!-- 버튼 크기 나누기 3 하기 -->
            <nav class="btn_group">
                <button id="btn_feed" type="button" style="color:rgb(1,199,60)">
                    <h3>피드</h3>
                </button>
                <button id="btn_popular" type="button">
                    <h3>인기</h3>
                </button>
                <button id="btn_new" type="button">
                    <h3>최신</h3>
                </button>
            </nav>
        </div>


        <div class="feed_area">
            <div class="feed">
                <div class="feed_img">
                    <a href="" class="feed_img_box"><img src="images/bene.jpg" type="image" class="photo" /></a>

                    <div class="profile_box">
                        <a href=" " class="image_box"><img class=profile src="images/PARK.jpg" /></a>
                        <div class="profile_info">
                            <p id="name">박보영</p>
                            <p id="rank">등산의 신</p>
                        </div>
                    </div>
                </div>
                <div class="feed_content">
                    <div class="content_btn">
                        <button><img class="btn_img" src="images/하트.png" /></button>
                        <button><img class="btn_img" src="images/댓글.png" /></button>
                        <div class="time">3시간 전</div>
                    </div>
                    <div class="content_info">
                        <strong>좋아요 56</strong>
                        <p>할리스 커피 고객 건강 지킴이 수칙 - 매장 이용시 음식 마스크 의무 착용하기</p>
                        <input class="comment" placeholder="댓글 달기">
                    </div>
                </div>
            </div>

            <div class="feed">
                <div class="feed_img">
                    <a href="" class="feed_img_box"><img src="images/bene.jpg" type="image" class="photo" /></a>

                    <div class="profile_box">
                        <a href=" " class="image_box"><img class=profile src="images/PARK.jpg" /></a>
                        <div class="profile_info">
                            <p id="name">박보영</p>
                            <p id="rank">등산의 신</p>
                        </div>
                    </div>
                </div>
                <div class="feed_content">
                    <div class="content_btn">
                        <button><img class="btn_img" src="images/하트.png" /></button>
                        <button><img class="btn_img" src="images/댓글.png" /></button>
                        <div class="time">3시간 전</div>
                    </div>
                    <div class="content_info">
                        <strong>좋아요 56</strong>
                        <p>할리스 커피 고객 건강 지킴이 수칙 - 매장 이용시 음식 마스크 의무 착용하기</p>
                        <input class="comment" placeholder="댓글 달기">
                    </div>
                </div>
            </div>

            <div class="feed">
                <div class="feed_img">
                    <a href="" class="feed_img_box"><img src="images/bene.jpg" type="image" class="photo" /></a>

                    <div class="profile_box">
                        <a href=" " class="image_box"><img class=profile src="images/PARK.jpg" /></a>
                        <div class="profile_info">
                            <p id="name">박보영</p>
                            <p id="rank">등산의 신</p>
                        </div>
                    </div>
                </div>
                <div class="feed_content">
                    <div class="content_btn">
                        <button><img class="btn_img" src="images/하트.png" /></button>
                        <button><img class="btn_img" src="images/댓글.png" /></button>
                        <div class="time">3시간 전</div>
                    </div>
                    <div class="content_info">
                        <strong>좋아요 56</strong>
                        <p>할리스 커피 고객 건강 지킴이 수칙 - 매장 이용시 음식 마스크 의무 착용하기</p>
                        <input class="comment" placeholder="댓글 달기">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottommenu-container">
            <a href="/#a/"><img src="../home/images/1.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/2.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/3.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/4.png" class="icon" alt="icon"></a>
            <a href="/#a/"><img src="../home/images/5.png" class="icon" alt="icon"></a>
        </div>
    </div>

</body>

</html>