<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="../..//styles/profile.css" >
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
    <div class="wrap">
        <div class="feed_up" >
            <div class="up_line1" >
                <div class="round"> <span>등산 천재</span></div>
                <div class="round"><span>등산의 신</span></div>
                <button>
                <img src="../../images/공유버튼.png"></button>

            </div>


            <div class="up_line2" >
                <div class="my_profile">
                    <h3>등린이</h3>
                    <div class="image_box" ><img class=profile_img src="../../images/PARK.jpg" /></div>    
                </div>
                <div class="my_info">
                    <div class="alert">
                        <div class="alert_box">
                           <h4>스탬프</h4>
                           <p>42</p>
                        </div>
                        <div class="alert_box">
                            <h4>팔로워</h4>
                            <p>378Km</p>
                        </div>
                        <div class="alert_box">
                            <h4>팔로잉</h4>
                            <p>376</p>
                        </div>
                            
                    </div> 
                    <div class="percent_medal">
                        <div class="graph" >
                            <span></span>
                        </div>
                        <div class="percent">73%</div>
                        
                    </div>     
                </div>
            </div>
            
            <div class="my_condition" >
                <h4>"오르지 못할 산은 없다.. 시간이 없다"</h4>
            </div>
           
            <nav class="btn_group">
                <button  id="btn_feed" ><h3>사진</h3></button>
                <button  id="btn_popular" style="color:rgb(1,199,60)"><h3>판매물건</h3></button>
            </nav>
        </div>
        
        
        <div class="feed_area">
            <div  class="img_sort" >
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
            </div>

            <div  class="img_sort" >
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
            </div>

            <div  class="img_sort" >
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
            </div>

            <div  class="img_sort" >
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
            </div>

            <div  class="img_sort" >
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
                <a href="" target="" class="img_link"><img src="../../images/bene.jpg" class="photo" /></a>
            </div>
            
            
        </div>
    </div>
</div>

    
</body>
</html>