* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  /* 전체 화면 */
  .wrap {
    width: 100%;
    height: 100vh;
   }

  /* 피드 검색창과 피드, 인기, 최신 내비게이션 */
   .feed_up{
    position:fixed; 
    padding-bottom: 5px;
    width:100%; 
    top: 20px;
    padding: 5px;
  }

   /* 피드 검색창 */
  .search{
    width: 95%;
    height: 40px;
    border-radius: 15px;
    margin: 10px 10px 0px 5px;
    padding-left:30px;
    border: 1px solid lightgray;
    background-color: rgb(243, 237, 237);
    outline: none;
    color: gray;
    background-image : url("../images/돋보기.png"); 
    background-position: 10px 50%;
    background-repeat:no-repeat;
    
  }

  /* 피드, 인기, 최신 이동 버튼 */
  .btn_group button{
    background-color:white;
    border : 0;
    margin : 15px 15px 10px 10px;
  }

  /* 전체 피드 박스 */
  .feed_area{
    /* position: fixed; */
    overflow:auto; 
    width:99%; 
    height:80%;
    top: 130px;
  }

  /* 각 피드 */
  .feed{
    width:100%;;
    position: relative;
    height: auto;
  }

  /* 피드 이미지와 프로필 박스 */
  .feed_img{
    width: 99%; 
    height: auto;
    overflow: hidden;
    position:relative;
  }

  
  /* 피드 이미지 박스*/
  .feed_img_box{
    width: 100%;
    height: 250px; 
    overflow: hidden;
    text-align: center;
    display: inline-block;
  }
  
  /* 피드 프로필 */
  .profile_box{
    display: flex; 
    flex-direction: row;
    position:absolute; 
    bottom:5%; 
    margin-left:15px; 
    width:100%; 
    
  }


  /* 피드 이미지 */
  .photo{
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  /* 프로필 이미지 넣는 박스 */
  .image_box {
    width: 30px;
    height: 30px; 
    border-radius: 70%;
    overflow: hidden;
    float:left;
  }

  /* 프로필 이미지 */
  .profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 프로필 정보 */
  .profile_info{
    margin-left:5px
  }
  #name{
    color:white;
    margin-left:2px;
    font-size: 12px;
  }

  #rank{
    color:white;
    margin-left:2px;
    font-size: 7px;
  }


  /* 피드 내용 박스*/
  .feed_content{
    margin:1px 5px 5px 5px; 
    display: flex; 
    flex-direction: column;
    font-size: 13px;
  }

  /* 좋아요, 댓글 버튼 및 피드 시간 박스 */
  .content_btn{
    display: flex;
    flex-direction: row;
    width: 100%;
  }


  /* 좋아요, 댓글 버튼 */
  .content_btn button{
    padding: 0;
    border: none; 
    background: none;
    position:relative;
    margin:3px 5px 3px 5px;
  }

  /* 피드 시간  */
  .content_btn > div{
    color:lightgray;  
    margin-left: auto;
    margin-right: 10px; 
    margin-top:5px
  }

  /* 컨텐츠 내용 박스 */
  .content_info{
    word-break: break-all; 
    margin-left : 5px
  }


  /* 댓글 달기 */
  .comment{
    border:none;
    outline: none; 
    font-size:10px;
  }


  
/* 
  .feed_btn{
    position:fixed; 
    top:80%; 
    right:8%; 
    z-index: 9999;
    height: 20px;
    width:auto;
  } */



  


